@media screen and (min-width: 320px) {
    .headerAuth {
        background-color: #E4B062;
        height: 118px;
        display: flex;
        align-items: center;
    }

    .headerAuth__logo {
        padding-left: 15px;
        cursor: pointer;
    }

    .logo__large {
        display: none;
    }

    .logo__small {
        display: block;
        width: 70px;
        height: 63px;
    }
}


@media screen and (min-width: 744px) {
    .headerAuth {
        background-color: #E4B062;
        height: 118px;
        display: flex;
        align-items: center;

    }

    .headerAuth__logo {
        padding-left: 37px;
    }

    .logo__large {
        display: block;
        width: 273px;
        height: 63px;
    }

    .logo__small {
        display: none;
    }
}


@media screen and (min-width: 1440px) {
    .headerAuth__logo {
        padding-left: 41px;
    }
}